html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.invisible {
    visibility: collapse;
}

.esri-expand .esri-expand__content {
    box-shadow: none;
}

.esri-view-height-xsmall .esri-ui-corner .esri-expand .esri-legend.esri-widget,
.esri-view-height-small .esri-ui-corner .esri-expand .esri-legend.esri-widget {
    max-height: 100%;
}

.esri-view-width-less-than-small .esri-zoom .esri-widget--button {
    display: none;
}
/*Side bar filter*/

.filter {
    position: relative;
    top: -85%;
}

.offcanvas-header {
    border-bottom: 1px solid #ccc;
    background-color: rgba(0,0,0,.03);
}