html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#layerToggle {
    top: 20px;
    right: 20px;
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.75;
}

.invisible {
    visibility: collapse;
}

.esri-expand .esri-expand__content {
    box-shadow: none;
}

.esri-view-height-xsmall .esri-ui-corner .esri-expand .esri-legend.esri-widget,
.esri-view-height-small .esri-ui-corner .esri-expand .esri-legend.esri-widget {
    max-height: 100%;
}

.esri-view-width-less-than-small .esri-zoom .esri-widget--button {
    display: none;
}
/*Side bar filter*/

.filter {
    font-size: 14px;
    position: relative;
    top: -50%;
}

.offcanvas-header {
    border-bottom: 10px solid #ccc;
    background-color: rgba(0,0,0,.03);
}
